{% extends "Aplicacion/padre.html" %}

{% load static %}

{% block contenidoModificable %}

    <p>Acerca de mí</p>

{% endblock %}

{% block contenido2 %}

    <p>Mi nombre es Matías Annand.</p> 
    <p>Soy Diseñador Industrial y comencé el curso de Python para iniciar mi aprendizaje en el mundo de la programación.</p>
    <p>Mí hermano es programador y me gustaría algun día poder trabajar con él.</p>
    <p>Una vez que termine el curso de Python haré el curso de SQL, ya que quisiera entender un poco mejor el manejo de datos.</p>
    <p>¡Gracias!</p>

{% endblock %}