<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Estudiantes</title>
</head>
<body>
    <p>Nombre del Estudiante: <i>{{ estudiante.nombre }} </i></p>
    <p>Apellido: <i>{{ estudiante.apellido }}</i></p>
    <p>Email: <i>{{ estudiante.email }} </i></p>
    <p>Comisión: <i>{{ estudiante.comision }} </i></p>
    <p>
        <a href="{% url 'ListEstudiantes' %}">Regresar</a>
    </p>
</body>
</html>