{% extends "Aplicacion/padre.html" %} 

{% block contenidoModificable %}

    <h1>Detalles Estudiante</h1>

{% endblock %}

{% block contenido2 %}

<body>


    <p>Nombre del Estudiante: <i>{{ estudiante.nombre }} </i></p>
    <p>Apellido: <i>{{ estudiante.apellido }}</i></p>
    <p>Email: <i>{{ estudiante.email }} </i></p>
    <p>Comisión: <i>{{ estudiante.comision }} </i></p>
    <p>
        <a href="{% url 'ListEstudiantes' %}">Regresar</a>
    </p>


</body>
{% endblock %}