{% extends "Aplicacion/padre.html" %} 

{% block contenidoModificable %}

    <h1>Coder Estudiantes</h1>
    <br>

{% endblock %}

{% block contenido2 %}
    
    <a style="color:greenyellow" href="{% url 'StudentCreate' %}"><h3>Crear</h3></a>

    <ul>
        <br>
        {% for estudiante in object_list %}

        <li>

            <h3>Nombre: {{estudiante.nombre}}</h3> 

            <p>
                
                <a style="color:greenyellow" href="{% url 'StudentDetail' estudiante.id %}">Ver</a>
                <a style="color:greenyellow" href="{% url 'StudentEdit' estudiante.id %}">Editar</a>
                <a style="color:greenyellow" href="{% url 'StudentDelete' estudiante.id %}">Borrar</a>
                
            </p>

        </li>

        {% endfor %}

    </ul>

{% endblock %}