{% extends "Aplicacion/padre.html" %} 

{% block contenidoModificable %}

    <h1>Coder Profesores</h1>

{% endblock %}

{% block contenido2 %}
    
    <a href="{% url 'TeacherCreate' %}">Crear</a>

    <ul>
        {% for profesor in object_list %}

        <li>

            <p>Nombre: {{profesor.nombre}}</p> 

            <p>
                
                <a href="{% url 'TeacherDetail' profesor.id %}">Ver</a>
                <a href="{% url 'TeacherEdit' profesor.id %}">Editar</a>
                <a href="{% url 'TeacherDelete' profesor.id %}">Borrar</a>
                
            </p>

        </li>

        {% endfor %}

    </ul>

{% endblock %}